# Ignore Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Ignore virtual environments
.venv/
env/
venv/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore credentials and token files
credentials.json
token.json
